<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Голосування</title>
</head>

<body>
    <h1>Голосування</h1>
    <form action="/vote" method="post">
        <input type="radio" name="vote" value="Варіант 1"> Варіант 1<br>
        <input type="radio" name="vote" value="Варіант 2"> Варіант 2<br>
        <input type="radio" name="vote" value="Варіант 3"> Варіант 3<br>
        <input type="submit" value="Проголосувати">
    </form>
</body>

</html>